<section id="unitsdisplay" class= 'container'>

{{#each units}}
          <div class="gig">
            <div class="item 1">
                <label>Obs No : </label>{{Obs_No}}</br>
                <label>OCGA : </label>{{OCGA}}</br>
            </div>
            <div class="Item 2">
                <label>Observation</label></br>-->{{Observation}}
            </div>


        </div>
{{else}}
        <p>No observations to see here </p>
    {{/each}}


</section>